.boxjm1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    justify-content: center;
    align-items: center;
    animation: bakcground-in-boxjm1 0.3s forwards;
    z-index: 9999;
    will-change: transform; 
}

.boxjm1-content {
    background: white;
    height: 80%;
    width: 70%;
    border-radius: 10px;
    animation: fadeIn 0.3s forwards;
    position: relative;
    display: flex;
    flex-direction: column;
}


.boxjm1-body button {
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0px 0px;
    margin: 5px 10px;
    font-family: sans-serif;
    font-size: 18px;
    background: #ffffff00;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding-inline: 0px;
}

.boxjm1-body button h5 {
    margin-left: 7px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.boxjm1-body button img {
    height: 40px;
}

.boxjm1-body ul {
    padding-inline-start: 14px;
}

/* Botón cerrar estilo */
.close2 {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: #ff394e;
    color: white;
    padding: 7px 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin: 6px 6px 0px 0px;
    font-family: math;
    font-size: 15px;
    transition: 0.3s;
}

.close2:hover {
    background: #ac2633;
    transition: 0.3s;
}

#openBoxJmBtn {
    background-color: #00000000;
}

.boxjm1-titulo {
    height: 45px;
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid hsl(207.86deg 43.75% 87.45%);
}

.boxjm1-titulo p {
    margin-block-start: 12px;
    margin-block-end: 0;
}

.boxjm1-body {
    overflow: auto;
    flex: 1;
}

.boxjm1-body li {
    margin-bottom: 25px;
    display: block;
}

.boxjm1-body h3 {
    font-family: system-ui;
    margin-block-end: 0px;
}

.boxjm1-body a {
    font-family: system-ui;
    text-decoration: none;
    color: #2f2f2f;
    display: contents;
}

.boxjm1-down {
    height: 26px;
    width: 100%;
    background: #faf9fd;
    border-top: 1px solid hsl(208.13deg 44.59% 87.48%);
}

.boxjm1-down p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
}

.boxjm1-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxjm1-redes h6 {
    font-family: sans-serif;
    font-weight: normal;
    color: #000000;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 14px;
    padding: 0px;
    border-radius: 7px;
    width: 100%;
    text-align: center;
    display: flow;
}

.boxjm1-redes div {
    display: flex;
}

.boxjm1-redes img {
    height: 32px;
    margin: 0px 10px;
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
}

/* Animación de entrada */
@keyframes background-in-boxjm1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animación de salida */
@keyframes background-out-boxjm1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Animación de salida */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.menu-all {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.menu-lines {
    display: block;
    height: 24px;
    width: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line1 {
    transform-origin: 100% 0%;
    transition: 0.4s;
    height: 2px;
    width: 100%;
    background: #929292;
}


.line1.active {
    transform-origin: 100% 0%;
    transform: rotate(-45deg);
    translate: -4px -2px;
    width: 110%;
    transition: 0.4s;
    background: #096caf;
}


.line2 {
    margin-left: auto;
    height: 2px;
    width: 80%;
    background: #929292;
    transition: 0.3s;
    opacity: 1;
}

.line2.active {
    transition: 0.3s;
    opacity: 0;
}

.line3 {
    transform-origin: 100% 50%;
    height: 2px;
    width: 100%;
    background: #929292;
    transition: 0.4s;

}

.line3.active {
    transform-origin: 100%;
    transform: rotate(45deg);
    translate: -4px -1px;
    width: 110%;
    transition: 0.4s;
    background: #096caf;
}


/*@media (max-width: 999px) {
    .menu-all {
        height: 50px;
        display: flex;
    }
}*/




@media (max-width: 700px) {


    .menu-all {
        width: 50px;
        height: 50px;
        right: 5px;
        margin-right: 10px;
        position: absolute;
    }

    .close2 {
        display: none;
    }

    .boxjm1-content {
        background: #ffffffab;
        backdrop-filter: blur(20px);
        height: 100%;
        width: 80%;
        border-radius: 0px;
        transform: translateX(110%);
    }

    /* Si el navegador soporta backdrop-filter */
    @supports (backdrop-filter: blur(20px)) {
        .boxjm1-content {
            background: #faf9fd;
            backdrop-filter: blur(20px);
        }
    }

    .boxjm1 {
        position: fixed;
        top: 51px;
        /* Ajusta el margen superior a 50px */
        left: 0;
        justify-content: flex-end;
        width: 100%;
        height: calc(100% - 51px);
        /* Calcula la altura para llegar hasta abajo */
        will-change: transform;
    }


    /* Animación de entrada */
    @keyframes background-in-boxjm1 {
        from {
            background-color: rgb(0 0 0 / 0%);
        }

        to {
            background-color: rgb(0 0 0 / 50%);
        }
    }

    /* Animación de salida */
    @keyframes background-out-boxjm1 {
        from {
            background-color: rgb(0 0 0 / 50%);
        }

        to {
            background-color: rgb(0 0 0 / 0%);
        }
    }


    @keyframes fadeIn {
        from {
            transform: translateX(110%) translateZ(0);
        }

        to {
            transform: translateX(0%) translateZ(0);
        }
    }


    /* Animación de salida */
    @keyframes fadeOut {
        from {
            transform: translateX(0%) translateZ(0);
        }

        to {
            transform: translateX(110%) translateZ(0);
        }
    }
}















